/*Page breaking*/
@media print {
	.page-break { height: 0; border-top: none; vertical-align: top; }
	
	/*Always break before*/
	div.sts-standard { page-break-before: always; }
	div.sts-app { page-break-before: always; } 
	div.sts-first-section { page-break-before: always; }
	/*div[id$='sec_1'] { page-break-before: always; }*/
	div.sts-section-intro { page-break-before: always; page-break-after: always; }
	div.sts-section-bibl { page-break-before: always; }
	div.first-iso-section { page-break-before: always; }


	/*Avoid breaking*/
	#evs-foreword-footer { page-break-inside: avoid; page-break-before: avoid; position: fixed; bottom: 0; }
	div.sts-array { page-break-inside: avoid; }
	div.sts-fig-index { page-break-inside: avoid; }
	div.sts-fig { page-break-inside: avoid; }
	div.sts-table-wrap { page-break-inside: avoid; }
	div.sts-table-wrap table tr { page-break-inside: avoid; }
	div.sts-table-wrap .sts-caption .sts-caption-label { page-break-after: avoid; }
	div.sts-tbx-label { page-break-after: avoid; }
	div.sts-tbx-term { page-break-after: avoid; }
	div.sts-tbx-note { page-break-after: avoid; }
	div.sts-ref-list li { page-break-inside: avoid; prince-footnote-policy: keep-with-line; }
	div.sts-footnote { page-break-inside: avoid; }
	div.sts-img-container { page-break-inside: avoid; }
	span[class*="bsFont-char"] { page-break-after: avoid; }
	div.sts-first-section div.sts-app { page-break-before: avoid; }

	/*Always break after*/
	div.sts-empty-page { page-break-after: always; }
}

/*Visuals*/
@media screen { body { background: #e0e0e0 } 
.sts-standard { background: white; box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); margin: 5mm auto; } 
.landscape-page { background: white; box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); margin: 5mm auto; }}

/*Main margins and general page setup*/
@page { size: A4; margin: 1.2cm 1cm 1cm 1cm; font-family: 'Cambria'; font-size: 11pt; }
@page:right { margin: 1.7cm 1.5cm 1.6cm 2.0cm; 
	@top { content: string(evsReference); white-space: nowrap; text-align: right; margin-right: -72mm; vertical-align: bottom; }
	@bottom-left { content: string(copyright); font-size: 9pt; text-align: left; vertical-align: top; }
	@bottom-right { content: counter(page); text-align: right; margin-right: -72mm; vertical-align: top; }}
@page:left { margin: 1.7cm 2.0cm 1.6cm 1.5cm; 
	@top { content: string(evsReference); white-space: nowrap; text-align: left; vertical-align: bottom; }
	@bottom-right { content: string(copyright); font-size: 9pt; text-align: right; margin-right: -67mm; vertical-align: top; }
	@bottom-left { content: counter(page); text-align: left; vertical-align: top; }}
@page { @footnotes { border-top: solid black thin; padding-top: 8pt; margin-bottom: 0.8cm; counter-increment: none; }}
@page portrait-page { margin-right: 87mm;  } /*@page sts-first-iso-section { content: none; }*/

/*Rotated pages*/
/*margins: top, right, bottom, left --- left+(margin-left)=2cm && right+(margin-right)=1.5cm*/
@page sideturned-page:right { prince-rotate-body: -90deg; margin: 1.7cm 0cm 1.6cm 1.2cm; 
 @top { margin-right: 1.5cm }
 @bottom-right { margin-right: 1.5cm; } 
 @bottom-left { margin-left: 0.8cm; }}
/*margins: top, right, bottom, left --- left+(margin-left)=1.5cm && right+(margin-right)=2cm*/
@page sideturned-page:left { prince-rotate-body: -90deg; margin: 1.7cm 0.3cm 1.6cm 0.78cm; 
 @top { margin-left: 0.72cm }
 @bottom-right { margin-right: 1.7cm } 
 @bottom-left { margin-left: 0.72cm }}

@page sts-titlepage-iec:right { margin-left: 0; margin-right: 0 }
@page sts-titlepage-iec:left { margin-left: 0; margin-right: 0 }
@page sts-copyright-iec:right { margin-left: 0; margin-right: 0 }
@page sts-copyright-iec:left { margin-left: 0; margin-right: 0 }

/*prince-bug - first rotated page element has weird margin*/
.landscape-page > :first-child { margin-top: -1mm; }

/*Removing reference and page numbers*/
@page sts-titlepage-evs { margin-top: 0; margin-bottom: 0; }
@page sts-titlepage-en { margin-top: 0; margin-bottom: 0; }
@page sts-titlepage-iec { margin-top: 0; margin-bottom: 0; }
@page sts-copyright-iec { margin-top: 0; margin-bottom: 0; }
@page sts-back-cover-evs { margin-top: 0; margin-bottom: 0; }
@page sts-foreword-evs { @top { margin-right: 0 !important; } 
 @bottom-right { margin-right: 0 !important; content: none; } 
 @bottom-left { margin-right: 0 !important; content: none; }}
@page evs-table-of-contents { 
 @top { margin-right: 0 !important; } 
 @bottom-right { margin-right: 0 !important; }
 @bottom-left { margin-right: 0 !important; }}

/*Page padding*/
#sts-titlepage-evs { padding: 1.2cm 0 1.5cm 0; height: 297mm; width: 175mm; overflow: auto; page: sts-titlepage-evs; }
div[id*='sts-titlepage-en'] { padding: 1.2cm 0 1.2cm 0; height: 297mm; width: 175mm; overflow: auto; page: sts-titlepage-en; counter-reset: page 1; }
div[id*='sts-titlepage-iec'] { padding: 1.5cm 0 1.2cm 0; height: 297mm; width: 210mm; overflow: auto; page: sts-titlepage-iec; }
div[id*='sts-copyright-iec'] { padding: 2.25cm 0 1.2cm 0; height: 297mm; width: 210mm; overflow: auto; page: sts-copyright-iec; }
#sts-back-cover-evs { padding: 1.2cm 0 1cm 0; height: 297mm; width: 175mm; overflow: auto; page: sts-back-cover-evs; }
#sts-foreword-evs { padding: 0.8cm 0 2.5cm 0; height: auto; width: 175mm; overflow: auto; page: sts-foreword-evs; }
#evs-table-of-contents { padding: 0.8cm 0 0.8cm 0 !important; height: auto; width: 175mm; overflow: auto !important; page: evs-table-of-contents; } /*div[class*='first-iso-section'] { page: sts-first-iso-section; }*/

.landscape-page { position: relative; box-sizing: border-box; letter-spacing: normal; width: 254mm; height: auto; page: sideturned-page; padding-left: 10mm; margin-top: 0mm !important; margin-bottom: 0 !important; padding-bottom: 10pt; }
.portrait-page { width: 175mm; page: portrait-page; }

/*Empty page and hidden elements*/
div.sts-empty-page { height: 297mm; width: 175mm; page: sts-back-cover-evs; }
.sts-blank-div { position: absolute; bottom: 1.6cm; right: 7.5cm; }
.sts-blank { text-align: center; }
#copyright-notice { visibility: hidden; display: block; width: 0; height: 0; string-set: copyright content(); position: absolute; }

/*Main containers*/
body { display: block; page: main; }
.sts-standard { position: relative; box-sizing: border-box; font-family: 'Cambria'; font-size: 11pt; 
	text-align: justify; letter-spacing: normal; width: 254mm; }
div.sts-main { padding: 0.8cm 0 0.8cm 0; height: auto; overflow: hidden; page: sts-main; }
* { -webkit-margin-before: 0; line-height: 115%; }

/*Title font-size and margin*/
h1 { font-size: 13pt; padding-bottom: 5pt; text-transform: uppercase; }
h2 { font-size: 12pt; margin-bottom: 10pt; }
h3 { font-size: 11pt; margin-bottom: 10pt; }
h4 { font-size: 11pt; margin-bottom: 10pt; }
h5 { font-size: 11pt; margin-bottom: 10pt; }
h6 { font-size: 11pt; margin-bottom: 10pt; }

div.sts-section { margin-bottom: 16pt; }
.sts-section .sts-p { margin-bottom: 8pt; margin-top: 8pt; }
.sts-section .sts-p .sts-disp-formula-panel { /*margin: 0;*/ }
div.indent { display: inherit !important; }
.sts-main[id*='_amd_'] .sts-p { display: flow-root; }
.sts-clc div[id*='foreword'] div.sts-array table { margin: auto; }
.sts-cen div[id*='foreword'] div.sts-array table { margin: auto; }
.sts-section-intro { margin-bottom: 10pt; }
.sts-tbx-sec { margin-bottom: 10pt !important; }

/*Wide, unusual tables*/
.sts-main table { margin-bottom: 0; line-height: normal; border: none; border-collapse: collapse; 
margin: 0 auto; position: relative; }
.sts-main table th { border: none; font-size: 10pt; padding: 0.3em 0.3em 0.3em 0.3em; font-weight: normal; white-space: pre-wrap; }
.sts-main table td { border: none; font-size: 10pt; padding: 0.3em 0.3em 0.3em 0.3em; white-space: pre-wrap; }
div.sts-iec div.sts-table-wrap table th { font-size: 9pt; padding: 0.2em 0.3em 0.2em 0.3em; }
div.sts-iec div.sts-table-wrap table td { font-size: 9pt; padding: 0.2em 0.3em 0.2em 0.3em; }
div.sts-main table .sts-p { margin-top: 3pt; margin-bottom: 0pt; display: block; } 
div.sts-main table.sts-boxed-table .sts-p:first-child { margin-top: 0; } 
div.sts-main table.sts-boxed-table .sts-p { margin-top: 6pt; } 
.sts-main table sup { font-size: 72%; vertical-align: text-top; }

/*Safely normal tables*/
.sts-main .sts-table-normal th { font-size: 10pt; }
.sts-main .sts-table-normal td { font-size: 10pt; }
.sts-main .sts-table-normal td .list { margin: 0; }
.sts-main .sts-table-normal td ul { margin: 0 !important; white-space: normal; }
.sts-main .sts-table-normal td ul li:first-child { margin-top: 0; }
.sts-main .sts-table-normal td ul li * { margin: 0 !important; }

/*Table containers*/
div.sts-table-wrap { margin-bottom: 10pt; margin-top: 8pt; }
div.sts-table-wrap div.sts-array-content table td { white-space: normal; }
div.sts-table-wrap-foot { margin-top: 10pt; }
div.sts-table-wrap-foot div.sts-fn { margin-bottom: 6pt; }
div.sts-table-wrap-foot span.sts-label { margin-right: 6pt; }
div.sts-table-wrap-foot div.Dimension { text-align: right; }

/*these are unneeeded probably*/
table.sts-table-en-borderless { vertical-align: middle; }
table.sts-table-en-borderless td { vertical-align: middle; padding: 0.205em 0.205em 0.205em 0.205em !important; }
table.sts-table-en-borderless th { vertical-align: middle; font-weight: bold; padding: 0.205em 0.205em 0.205em 0.205em !important; }

/*these table ones unneeded probably*/
table.sts-table-big { border-collapse: collapse; width: 100%; }
table.sts-table-big td { font-size: 7.5pt; line-height: normal; }
table.sts-table-en { border-collapse: collapse; }
table.sts-table-en td { font-size: 11pt; padding: 0.273em 0.410em 0.273em 0.410em; line-height: 14pt; }
table.sts-table-en th { font-size: 11pt; padding: 0.273em 0.410em 0.273em 0.410em; line-height: 14pt; }
table.sts-table-big-en { width: 100%; }
/*unneeded END*/

.sts-main .sideturned-table { font-size: 8pt; }
.sts-main .sideturned-table td { font-size: 8pt; padding: 0.25em 0.3em 0.25em 0.3em; !important; line-height: normal; }
.sts-main .sideturned-table th { font-size: 8pt; padding: 0.25em 0.3em 0.25em 0.3em; !important; line-height: normal; }
.sts-main .sideturned-table a { text-decoration: none; }
.sts-main .sts-rotated-td { vertical-align: middle; text-align: center; }
.sts-main .table-rotated-container { transform: rotate(-90.0deg); }
.sts-main .table-rotated-container .sts-p { margin: 0 !important; }

.sts-main div.sts-array div.sts-array-content table.sts-boxed-table { margin: 0 auto; border: 0.068em solid black; }
.sts-main table.sts-boxed-table th { border: 0.068em solid black; font-weight: bold; text-align: center; }
.sts-main table.sts-boxed-table td { border: 0.068em solid black; }

div.sts-section th .sts-p { font-weight: normal; margin-top: 4pt; }
.sts-label sup { margin-right: 10pt; }
.sup-link { text-decoration: none; display: inline; }
.sup-link-table { text-decoration: none; display: inline; }
.sup-link-table a sup { text-decoration: none; display: inline; }
.sup-footnote-link { color: black; cursor: default; pointer-events: none; }
/*for inside text footnote sup*/
div.sup-div .sup-link sup { text-decoration: none; }
/*for outside text footnote sup*/
.sup-link .sts-footnote .sts-label { margin-right: 6pt; }
.sup-link .sts-footnote .sts-label sup { text-decoration: none; }
sup { vertical-align: text-top; font-size: 72%; text-decoration: none; }
sub { vertical-align: bottom; font-size: 72%; }

div.sts-array { margin-bottom: 8pt; margin-top: 8pt; }
div.sts-array.marginless div.sts-array-content table { margin: 0; }
div.sts-array div.sts-array-content table { font-size: 11pt; padding-left: 6pt; margin: 8pt 0 0 20pt; }
div.sts-array div.sts-array-content table * { word-break: loose; }
div.sts-array table td { font-size: 11pt; white-space: normal; }
div.sts-array .sts-table-normal td { font-size: 11pt; }
div.sts-array .sts-table-normal th { font-size: 11pt; }
div.sts-array td span { vertical-align: initial; display: inline; }
/*div.sts-array td:nth-child(1) { padding-left: 0; padding-right: 10pt; }*/
div.sts-array .sts-caption { text-align: left; margin-bottom: 4pt; }
div.sts-array .inline-formula { vertical-align: -webkit-baseline-middle; font-style: normal;  }
div.sts-array div.sts-caption { text-align: center; margin-top: 10pt;  }
/*div.sts-array div.sts-array-content *:not(h1) { margin: 6pt 0 0 0; }*/
div.sts-array div.sts-array-content table { margin-top: 4pt; }
div.sts-array > sup { line-height: 20pt; }
div.sts-clc div.sts-array-content table td { font-size: 10pt; } 
div.sts-clc div.sts-array-content table th { font-size: 10pt; } 

table.def-list { margin: 2pt 0 10pt 0; }
table.def-list td { white-space: normal; }
table.def-list td.def-def { padding-left: 6pt; }
table th.def-list-head { font-weight: bold; }
table td.def-term { white-space: nowrap; /*testing*/ }
table td.def-term p { margin: 0; display: inline; }
table td.def-def div.sts-p { margin: 0; }

div.fig-index table { font-size: 11pt; border: 0 !important; padding-left: 6pt; margin: 0; word-break: loose; }
div.fig-index td { font-size: 10pt; border-width: 0 !important; padding-left: 0; vertical-align: middle; padding: 0.137em 0.137em 0.137em 0.137em; vertical-align: middle; }
div.fig-index td:nth-child(1) { padding-right: 10pt; }
div.fig-index .sts-caption { text-align: left; margin-bottom: 4pt; }
span.sts-caption-title { white-space: pre-wrap; }

div.formula-index table { font-size: 11pt; border: 0 !important; padding-left: 6pt; margin: 0; word-break: loose; }
div.formula-index td { font-size: 10pt; border-width: 0 !important; }
div.formula-index td:nth-child(1) { padding-left: 20pt; padding-right: 10pt; }
div.formula-index .sts-caption { text-align: left; margin-bottom: 4pt; }

div.list { margin-bottom: 10pt;  }
div.list ul li { margin-bottom: 6pt; margin-top: 6pt; }
div.list ul li.custom-type-item > * { margin-left: 6pt; display: block; }
div.list ul li.custom-type-item > .sts-disp-formula-panel { display: flex; }
div.list ul li div.sts-p { vertical-align: middle; }
div.list ul li .sts-label { padding-right: 8pt; display: inline; vertical-align: middle; }
div.list ul li div.sts-p { margin-bottom: 0; margin-top: 0; }
div.list ul li div.sts-p .sts-label { padding-right: 8pt; }
div.list div.list { margin-left: 4%; }
div.list ul { margin-left: 0; }
div.list ul li.custom-type-item[value]::marker { content: attr(value); }
div.list ul li.custom-numbered-item { margin-left: 25pt; }
div.list ul li.custom-hyphen-item { margin-left: 15pt; }
div.list ul li.custom-disc-item { margin-left: 15pt; }

.sts-section-label { font-weight: bold; margin-right: 10pt; }
.sts-endorsement-notice { font-weight: bold; text-align: center; margin-bottom: 10pt; font-size: 11pt; text-transform: none; }
div[id*='endorsement'] div.sts-array table { margin: auto; }
.sts-main .sts-section .sts-non-normative-note { font-weight: normal; }
.sts-main .sts-section .sts-boxed-text .sts-non-normative-note { border: 0.068em solid black; font-weight: bold; padding: 3pt; }
.sts-main .sts-section td.sts-non-normative-note-td { white-space: pre-line; }
.sts-main .sts-section td.sts-non-normative-note-td div.sts-non-normative-note { margin: 0; }
.sts-non-normative-note { font-size: 10pt; margin-bottom: 8pt; margin-top: 8pt; display: block; }
.sts-non-normative-note .sts-label { margin-right: 16pt; }
.sts-non-normative-note div.sts-p:nth-child(2) { display: inline; }
.sts-bold-note { font-weight: bold; }
.sts-non-normative-example { margin-bottom: 10pt; margin-top: 10pt; font-size: 10pt; }
.sts-non-normative-example p { display: inline; }
.sts-non-normative-example .sts-p { display: inline; margin-left: 12pt; }
.sts-iec .sts-non-normative-example-label { font-weight: bold; }
.sts-iec .sts-non-normative-example .sts-p { display: block; margin-top: 10pt; margin-left: 0; }
.sts-tbx-note { font-size: 10pt; margin-bottom: 10pt; }
.sts-tbx-def { margin-bottom: 10pt; }
.sts-tbx-example { font-size: 10pt; margin-bottom: 10pt; margin-top: 10pt; }
.sts-tbx-example-content { display: inline; }
.sts-tbx-example-label { margin-right: 20pt; display: inline; }
.sts-tbx-label { font-weight: bold; }
.sts-tbx-term { font-weight: bold; }
.sts-caption { text-align: center; margin-bottom: 10pt; margin-top: 10pt; font-weight: bold; }
.sts-caption-label { display: inline; }
.sts-tbx-source { margin-top: 10pt; }
.sts-tbx-source::before { content: "["; }
.sts-tbx-source::after { content: "]"; }
ol .sts-editing-instruction { display: table-caption; }

.sts-footnote { display: prince-footnote; counter-increment: none; font-size: 9pt; text-decoration: none; margin-bottom: 6pt; width: 175mm; text-align: justify; justify-content: center; }
.sts-footnote::footnote-call { content: none; }
.sts-footnote::footnote-marker { content: none; }
.sts-label { font-size: 9.5pt; top: -0.205em; }

a { color: #0000ee; }
a.sts-std-ref { color: black; text-decoration: none; }
a.sts-std-ref .sts-p { display: inline; }
div.sts-footnote * { text-decoration: none; }
#evs-foreword-footer a { color: #0000ee; cursor: pointer; text-decoration: underline; }
#evs-foreword-footer a:visited { color: #0000ee; }
#evs-foreword-footer a { color: -webkit-link; cursor: pointer; text-decoration: underline; }

div.sts-app .sts-p { margin-bottom: 10pt; }
div.sts-app h1.sts-app-header { margin-bottom: 0pt; }
div.sts-app .sts-app-header { font-size: 16pt; text-align: center; margin-bottom: 6pt; padding-bottom: 0; margin-top: 0; }
div.sts-app .sts-app-header span { font-weight: normal; }
div.sts-app .sts-app-header-main { font-weight: bold; margin-bottom: 18pt; }
div.sts-app h1:nth-child(3) { margin-bottom: 16pt; }
div.sts-app h1 { text-transform: none; }

div.sts-img-container div.sts-caption div.sts-table-wrap { text-align: left; }
img { padding: 0; display: block; margin: 0 auto; margin-bottom: 10pt; margin-top: 10pt; }
td img { margin: 0 auto; padding-top: 5pt; padding-bottom: 5pt; }
span img { display: inline-block; margin-bottom: 0; }
.sts-main table td.img-td { white-space: normal; }
.sts-main table th.img-td { white-space: normal; }

.inline-formula { /*vertical-align: middle;*/ display: inline-grid; }
.inline-formula img { padding: 0; }

div.sts-array .inline-formula img { margin-bottom: 0; margin-left: 0; }
div.sts-p .inline-formula img { margin-bottom: -2pt; margin-left: 0; display: inline; }
div.sts-disp-formula-panel { margin: 6pt 0 6pt 20pt; display: flex; justify-content: space-between; font-style: normal; }
div.labelless-formula { justify-content: center; margin-left: 0; }
div.sts-disp-formula-panel img { margin: 0 6pt 0 6pt; display: inline-block; align-self: center; }
div.sts-disp-formula-panel .sts-disp-formula-label { display: inline-block; text-align: right; align-self: center; font-style: normal; }
div.sts-disp-formula-panel * { align-self: center; }
div.sts-disp-formula-panel sup { align-self: auto; }
div.sts-disp-formula-panel sub { align-self: auto; }
div.sts-disp-formula-panel * i { margin: 0 2pt 0 2pt; }
span.sts-formula-text { white-space: pre-wrap; }
div.sts-disp-formula-panel > .math-text-last { display: inline-block; text-align: right; align-self: center; flex: 1; font-style: normal; }
image.template-image { max-height: 100% !important; max-width: 100% !important; }
div.sts-fig div.sts-table-wrap div { text-align: left; }
div.sts-fig div.sts-table-wrap table.borderless-table { margin-left: 0; }
div.sts-fig table { margin: 0; }
div.sts-fig table th { white-space: normal; }
div.sts-fig table td { white-space: normal; }
div.sts-fig-group-content div.sts-caption { margin-top: 0pt; margin-bottom: 14pt; }
div.sts-fig-group-content div.sts-fig div.sts-caption { font-size: 10pt; }

/*math elements*/
mjx-container { display: inline-block; max-width: 175mm; }
svg { max-width: 175mm; }
mo { font-style: normal; stretchy: false; }
mi { font-style: normal; }
mn { font-style: normal; }
mtable { font-style: normal; }
msub { font-style: normal; }
mtr { font-style: normal; }
mtd { font-style: normal; }
msub mi { font-style: italic; }
mtext { font-style: normal; }

div.sts-section-bibl ol.sts-ref-list { margin-left: 0; padding-left: 0; list-style-type: none; display: table; border-collapse: separate; border-spacing: 0 10pt; }
div.sts-section-bibl ol.sts-ref-list li { counter-increment: section; display: table-row; }
.sts-std-title { font-style: italic; margin-left: 0.2em; }
div.sts-section-bibl ol.sts-ref-list { counter-reset: item; list-style-type: none; text-align: left; }
div.sts-section-bibl ol.sts-ref-list li:before { content: "[" counter(section) "] "; padding-right: 10pt; display: table-cell; }
div.sts-section-bibl ol.sts-ref-list li[num]:before { content: attr(num); padding-right: 10pt; display: table-cell; }
div.sts-ref-list ol { padding-left: 0; list-style-type: none; margin-left: 0; }
div.sts-ref-list li { margin-bottom: 12pt; }

hr { border: 0; background-color: #333; color: #333; height: 0.137em; border-color: #333; }
hr.titlepage-line-top { margin-top: 5pt; }
hr.titlepage-line-bottom { margin: 10pt 0pt 10pt 0pt; }
.sts-footnotes hr { height: 0.868em; margin-bottom: 8pt; text-align: justify; }
.align-center { text-align: center; }
.sts-preformat { white-space: pre-wrap; }
tt { font-size: 9pt; }
pre { font-size: 9pt; }

/*Custom fonts*/
@font-face { font-family: 'bsFont'; src: url(BSsymb10.ttf); }
@font-face { font-family: 'MathJax'; src: url(MathJax_Main.otf); }
@font-face { font-family: serif; unicode-range: U+1000-309F, U+30A0-30FF, U+4E00-9FBF; src: prince-lookup("MS Gothic") }

span[class*='bsFont-char'] { font-family: 'bsFont'; margin-bottom: -10pt; font-weight: normal; }
span.bsFont-right { display: flex; margin-bottom: 6pt; justify-content: flex-end; }

/*EVS titlepage template*/
#evs-titlepage-header hr { border-top: 1px solid #0357a6; background-color: transparent; margin: 0pt 4pt 0pt 4pt; height: 0.06em; }
#evs-titlepage-header hr.upper-hr { margin-bottom: -2pt;  }
#evs-titlepage-grad { vertical-align: middle; height: 25pt; color: #0357a6; font-weight: bold; }
#evs-titlepage-header-left { line-height: 25pt; font-size: 19pt; float: left; vertical-align: middle; display: inline-block; }
#evs-titlepage-header-right { position: relative; margin-right: 3pt; line-height: 25pt; font-size: 19pt; color: white; float: right; vertical-align: middle; display: inline-block; string-set: evsReference content(); }
#evs-title-et { font-size: 19pt; margin-top: 220pt; text-transform: uppercase; font-weight: bold; text-align: left; }
#evs-title-en { font-size: 19pt; margin-top: 28pt; font-weight: bold; text-align: left; }
#evs-title-en-alone { font-size: 19pt; margin-top: 268pt; font-weight: bold; text-align: left; }
#evs-titlepage-footer { position: absolute; right: 0; bottom: 0.8cm; }
#evs-logo { vertical-align: bottom; margin-bottom: 0; }

/*EVS foreword template*/
.evs-foreword-table { border-collapse: collapse; position: relative; width: 45.1em; text-align: left; border: 0.068em solid black; table-layout: fixed; text-align: justify; }
#evs-foreword-table-upper tr th { font-size: 13pt; text-transform: uppercase; text-align: left; border-collapse: collapse !important; border-top: 0.068em solid white !important; border-left: 0.068em solid white; border: 0.068em solid white; border-bottom: 0.068em solid black; padding: 0 4pt 6pt 4pt; }
.evs-foreword-table tr td { border-right: 0.068em solid black; font-size: 11pt; padding: 4pt 4pt 4pt 4pt; margin-top: 0; vertical-align: top; }
#evs-foreword-table-upper { margin-bottom: 30pt; }
#evs-foreword-table-bottom tr th { font-size: 13pt; font-weight: bold; text-align: left; padding: 4pt 4pt 4pt 4pt; }
#evs-foreword-footer { margin-top: 8pt; bottom: 0.9cm; }
#evs-foreword-footer-box { border: 0.068em solid black !important; font-size: 9pt; padding: 4pt 4pt 4pt 4pt; }
#evs-foreword-footer-box div { padding-bottom: 6pt; }
#evs-foreword-scope span { margin-bottom: 8pt; display: flex; }
#evs-foreword-scope span.list-span { margin-bottom: 8pt; margin-right: 18pt; }
#evs-foreword-scope span:last-child { margin-bottom: 0; }
#evs-foreword-scope { white-space: pre-wrap; border: 0.068em solid black; border-top: 0; }

/*CEN titlepage template*/
#en-titlepage-header { position: relative; line-height: 25pt; font-size: 18pt; vertical-align: middle; display: inline-block; width: 100%; }
#en-titlepage-header-left { position: relative; float: left; vertical-align: middle; display: inline-block; width: 50%; height: 100%; }
#en-titlepage-header-right #en-titlepage-header-reference { font-weight: 600; }
#en-titlepage-header-right { font-size: 20pt; float: right; vertical-align: top; display: inline-block; text-align: left; width: 50%; }
#en-titlepage-header-date { font-size: 11pt; position: absolute; bottom: 0pt; margin-bottom: 0pt; }
#en-titlepage-ics-and-supersedes-container { overflow: hidden; margin-top: 6pt; }
#en-titlepage-ics-and-supersedes { font-size: 10pt; }
#en-titlepage-ics-groups { width: 48%; }
#en-titlepage-supersedes { width: 20.273em; float: right; text-align: right; display: inline; /*or justify*/ }
#en-titlepage-supersedes span:first-child { display: inline; }
#en-titlepage-supersedes span:nth-child(2) { display: inline; }
#en-titlepage-supersedes span { display: inline-block; }
#en-titlepage-version { margin-top: 18pt; text-align: center; }
#en-titlepage-title-en { font-size: 16pt; margin: 8pt auto 0 auto; text-align: center; width: 85%; }
#en-titlepage-other-titles { font-size: 9pt; margin-top: 12pt; text-align: center; display: table; width: 100%; }
#en-titlepage-title-fr { display: table-cell; width: 41.7%; padding-right: 7.3%; }
#en-titlepage-title-de { display: table-cell; width: 41.7%; padding-left: 7.3%; }
#en-titlepage-sections { font-size: 9pt; margin-top: 18pt; }
#en-titlepage-sections div { margin-top: 10pt; }
#en-titlepage-footer { position: absolute; bottom: 1.5cm; text-align: center; width: 100%; }
#en-titlepage-footer div { font-size: 9pt; }
#en-titlepage-footer div.en-logo-notes { text-align: center; width: 19.5em; margin: 0 auto 0 auto; text-transform: uppercase; word-break: keep-all; }
#en-titlepage-footer div.en-titlepage-footer-copyright { position: relative; display: inline-block; }
#cen-cenelec-centre { font-size: 8pt; margin-top: 12pt; font-weight: bold; }
.en-titlepage-footer-cen #en-titlepage-footer-copyright span { font-size: 8.5pt; text-align: left; float: left; } 
.en-titlepage-footer-cen #en-titlepage-footer-copyright #en-copyright { width: 10%; float: left; margin-right: 2%; }
.en-titlepage-footer-cen #en-titlepage-footer-copyright #en-copyright-statement { width: 47%; float: left; margin-right: 6%; }
.en-titlepage-footer-cen #en-titlepage-footer-copyright #en-reference { width: 35%; float: left; text-align: right; }
#en-logo { margin-bottom: 5pt; }

/*IEC titlepage template*/
#sts-titlepage-iec { font-family: arial; }
#iec-titlepage-header { display: flex; justify-content: space-between; align-items: flex-start; }
.iec-titlepage-line-top { font-size: 8pt; display: flex; flex: 1; margin-top: auto; margin-bottom: 10pt; margin-left: 0.2em; }
.iec-titlepage-line-top span { margin-bottom: -0.2em; }
.iec-titlepage-line-top::after { content: ''; flex: 1; margin: 0 2cm 0 0.05em; border-bottom: 0.12em solid #9c9d9f; }
.iec-titlepage-header-left img { margin-left: 20mm; }
.iec-titlepage-header-reference { color: #9c9d9f; font-size: 25pt; font-weight: bold; }
.iec-titlepage-header-right { position: absolute; right: 20mm; margin-top: 21pt; direction: rtl; width: 420pt; }
.iec-titlepage-header-version { margin-top: 16pt; font-size: 10.5pt; display: flex; } /*parent of next*/
.iec-titlepage-header-edition {  margin-right: 10pt; }
.iec-titlepage-standard-en, .iec-titlepage-standard-fr { font-size: 30pt; font-weight: bold; color: #005aa1; margin-left: 28mm; margin-top: 24pt; }
.iec-titlepage-standard-fr { margin-top: 8pt; color: #9c9d9f; }
.iec-titlepage-pre-titles { position: absolute; left: 28mm; right: 2cm; top: 11cm; font-size: 12pt; text-align: left; text-transform: uppercase; }
.iec-titlepage-titles { position: absolute; left: 28mm; right: 2cm; top: 12.8cm; font-size: 12pt; text-align: left; font-weight: bold; }
.iec-titlepage-titles hr, .iec-titlepage-footer hr { height: 0.02em; background-color: #9c9d9f; color: #9c9d9f; border-color: #9c9d9f; }
.iec-titlepage-title-en { margin-top: 14pt; color: #005aa1; }
.iec-titlepage-title-fr { margin-top: 12pt; }
.iec-titlepage-pre-title-en { margin-top: 14pt; color: #005aa1; }
.iec-titlepage-pre-title-fr { margin-top: 1pt; }
.iec-titlepage-full-reference { transform: rotate(-90deg); position: absolute; right: 9.48cm; bottom: 12cm; width: 100%; font-size: 8pt; }
.iec-background { position: absolute; bottom: 0; right: 0; margin: 0; }

.iec-titlepage-footer { position: absolute; bottom: 9mm; left: 28mm; right: 20mm; }
.iec-titlepage-iec { margin-bottom: 10pt; color: #005aa1; line-height: 140%; font-size: 9pt; }
.iec-titlepage-cei { margin-bottom: 20pt; line-height: 140%; font-size: 9pt; }
.iec-titlepage-information { display: flex; margin-top: 3pt; font-size: 8pt; }
.iec-titlepage-ics { flex: 1; }
.iec.titlepage-isbm { flex: 2; }
.iec-titlepage-warning { margin-top: 20pt; border: 0.03em solid black;  padding: 3.5pt; font-size: 9.5pt; font-weight: bold; border-collapse: collapse; }
.iec-titlepage-trademark { margin-top: 20pt; font-size: 6pt; }
.iec-titlepage-warning-fr { margin-top: 3.5pt; }

/*IEC copyright template*/
#sts-copyright-iec hr { margin: 3mm 26mm 3mm 26mm; border: 0 !important; background-color: #333; color: #333; height: 0.06em; border-color: #333; }
#iec-copyright-protection { border: solid black 1pt; padding: 4pt 9pt 4pt 9pt; margin: 0 26mm 0 26mm; font-size: 10.5pt; text-align: left; }
.iec-copyright-protection-header { display: flex; margin-bottom: 4pt; }
.iec-caution { margin: 0; }
.iec-publication-copyright { flex: 1; font-weight: bold; margin-left: 4pt; }
.iec-protection { margin-top: 17pt; }
.iec-copyright { margin-top: 3pt; }
.iec-rights-reserved { font-size: 8.3pt; }
.iec-rights-text { margin-bottom: 8pt; }
.iec-contact { display: flex; font-size: 8.3pt; }
.iec-contact-information { margin-right: 31mm; }
.iec-contact-information a { text-decoration: none; }
.iec-main-text { margin: 0 26mm 0 26mm; font-size: 8.3pt; }
.iec-main-text a { text-decoration: none; }
.iec-main-text-flex { display: flex; }
.iec-main-text-title { font-weight: bold; margin-top: 6pt; text-align: left; }
.iec-main-text-area { flex: 1; }
.iec-main-text-flex .iec-main-text-area:nth-child(2) { margin-left: 14pt; }

/*ISO header template*/
.sts-iso-header { margin-bottom: -8pt; margin-top: -24pt; }
.sts-iso-header hr { border: 0 !important; background-color: #333; color: #333; height: 0.32em; border-color: #333; margin: 0; }
.sts-iso-header-top { margin: -17pt 0 -4pt 0; }
.sts-iso-header-left { font-size: 12pt; font-weight: bold; float: left; display: table-cell; line-height: 13pt; }
.sts-iso-header-right { font-size: 9pt; float: right; text-align: right; line-height: 13pt; }
.sts-iso-main-title { font-size: 18pt; font-weight: bold; text-align: left; margin-top: 14pt; }
.sts-iso-compl-title { font-size: 18pt; font-weight: bold; text-align: left; margin-top: 6pt; }
.sts-iso-compl-title-part { font-weight: normal; }
.sts-iso-compl-title-amd { font-weight: normal; margin-top: 6pt; }
.sts-iso-titles { margin-top: -10pt; }

/*IEC header template*/
.sts-iec-header { margin-top: -14pt; }
.sts-iec-header-top { font-size: 15pt; text-align: center; margin-bottom: 14pt; }
.sts-iec-header hr { width: 7em; border: 0 !important; background-color: #333; color: #333; height: 0.04em; border-color: #333; margin: 0 auto; }
.sts-iec-header .sts-iso-main-title { text-align: center; font-size: 15pt; text-transform: uppercase; margin-top: 0; }
.sts-iec-header .sts-iso-compl-title { text-align: center; font-size: 15pt; }
.sts-iec-header .sts-iso-compl-title-part { display: inline; font-weight: bold; margin-right: 0.25em;  }

/*CENELEC titlepage template*/
.en-titlepage-footer-cenelec div.en-logo-notes { width: auto !important; text-transform: none !important; }
.en-titlepage-footer-cenelec #en-titlepage-footer-copyright span { font-size: 8.5pt; text-align: left; float: left; } 
.en-titlepage-footer-cenelec #en-titlepage-footer-copyright #en-copyright { width: 14%; float: left; margin-right: 1%; }
.en-titlepage-footer-cenelec #en-titlepage-footer-copyright #en-copyright-statement { width: 85%; float: left; }
.en-titlepage-footer-cenelec #en-titlepage-footer-copyright #en-reference { float: right; margin-bottom: -8pt; margin-top: 8pt; }

/*EVS back cover template*/
#evs-backpage-footer { position: absolute; bottom: 1cm; }
.evs-back-cover-info { margin-bottom: 8pt; text-align: right; margin-right: -2.6cm; }
.evs-back-cover-info div { margin-bottom: 5pt; }

/*EVS table of contents*/
#toc-title { font-size: 13pt; font-weight: bold; margin-bottom: 12pt; }
#evs-table-of-contents .toc-right[href]::after { content: leader(".") target-counter(attr(href), page); }
#evs-table-of-contents div.toc-titlepage { text-transform: uppercase; margin-top: 5pt; }
#evs-table-of-contents > div.toc-section { text-transform: uppercase; margin-top: 5pt; }
#evs-table-of-contents > div.toc-annex { margin-top: 5pt; }
#evs-table-of-contents div.toc-section div.toc-section { text-transform: none; margin-top: 0; }
#evs-table-of-contents span.toc-left { display: inline-block; vertical-align: top; width: 8%; }
#evs-table-of-contents span.toc-right { display: inline-block; width: 92%; text-align: left; }
/*Annexes and exceptions, without idenfifier*/
#evs-table-of-contents > div.toc-annex > a > span { width: 100%; }
#evs-table-of-contents a[href*='bibl'] span { width: 100%; }
#evs-table-of-contents a[href*='foreword'] span { width: 100%; }
#evs-table-of-contents a[href*='intro'] span { width: 100%; }
#evs-table-of-contents a[href*='endorsement'] span { width: 100%; }
/*Pre formatted elements inside toc rows*/
#evs-table-of-contents a { color: black; text-decoration: none; }
#evs-table-of-contents b { font-weight: normal; }
span.toc-spacing { padding: 5pt; }