@page {
   @prince-overlay {
      content: "See dokument on EVS-i poolt loodud eelvaade";
	  font-family: Helvetica;
	  font-size: 36pt;
	  color: rgba(200,200,200,50%);
	  transform: rotate(54.74deg);
	  overflow: hidden; 
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  margin-left: -35mm;
	  margin-top: -50mm;
	  opacity: 0.5;
   }
}

@page portrait-page {
   @prince-overlay {
	  margin-left: -10mm;
	  margin-top: -135mm;
   }
}